body {

    background-image : url(ing/photo-1674420628423-bf7a338af32d.avif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
    background-size: cover;
    background-attachment :fixed;
}





*{
    margin: 0px;
    padding: 0px; 

}

.header{

    width: 100%;
    height: 40px;
    background-color: rgb(rgb(223, 104, 104), rgb(166, 235, 166), rgb(155, 115, 219));

}

.ctn-header{

    width: 100%;
    height: 30px;
    text-align: center;
    position: relative;
    top: 5px;
}

.lbl-header{

    font-family: cursive;
    font-size: 20px;
}


.ctn-data{

    width: 90%;
    margin:auto;
    padding: 10px;
}

.p-data{

    font-family: Arial;
    font-size: 18px;
    position: relative;
    margin-top: 5px;
    background-color: rgb(236, 168, 168);
}

.ctn-lbl-comentar{
    
    width: 100%;
    text-align: center;

}

.lbl-comentario{
    background-color: aliceblue;
    font-family: cursive;
    font-size: 20px;
    
    text-shadow: 1px 2px 3px rgba(55, 0, 255, 0.582);
}